<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="Stylesheet" type="text/css" media="all" href="../../Content/css/bootstrap.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="../../Content/css/core.css" />
    <link type="text/css" rel="shortcut icon" href="../../Content/img/logoSolo.png" />
    <!-- Core Scripts -->
    <script language="javascript" type="text/javascript" src="../../Scripts/js/bootstrap-modal.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/jquery.js"></script>
    <script language="javascript" type="text/javascript">
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); }
        } (document, 'script', 'twitter-wjs');
    </script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="header navbar navbar-default">
        <div class="container">
            <div id="contenedor-logo" class="col-md-6">
                <img src="../../Content/img/logo.png" alt="Providere" width="100%" />
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="modalBox">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-user">
                            </span>Ingresar</a>
                            <br />
                            <br />
                        </div>
                    </li>
                    <li>
                        <div class="modalBox2">
                            <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-list">
                            </span>Registrarme</a>
                            <br />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Ingresar a mi cuenta</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control" id="CorreoElectronico" placeholder="Ingrese su correo electronico">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="Contrasenia" placeholder="Ingrese su contraseña">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-info">Iniciar sesion</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Registrarse en Providere</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="NombreApellido" placeholder="Ingrese su nombre y apellido">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="CorreoElectronico2" placeholder="Ingrese su correo electronico">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Telefono" placeholder="Ingrese su numero telefonico">
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Seleccione su ubicación</option>
                            <option>Capital Federal</option>
                            <option>Mendoza</option>
                            <option>Cordoba</option>
                            <option>Santa Fe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="Contrasenia2" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="Contrasenia3" placeholder="Ingrese su contraseña nuevamente">
                    </div>
                    <div class="form-group">
                        <label for="text" class="col-sm-2 control-label">
                            Captcha</label>
                        <br />
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-info">Registrarme</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="container">
        <div class="content">
            <!-- Ejemplo de buscador con dos select -->
            <div id="buscador" class="row">
                <div class="col-md-5">
                    <select class="form-control">
                        <option>Seleccione rubro</option>
                        <option>Plomeria</option>
                        <option>Gasista</option>
                        <option>Electricista</option>
                        <option>Enfermeria</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="ubicacionMaps" placeholder="Ingrese ubicacion" />
                    </div>
                </div>
                <div class="col-md-2">
                    <input id="btnBuscar" type="submit" value="Buscar" class="btn btn-primary btn-block" />
                    <br />
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <br />
    <div id="footer" class=" navbar-default">
        <div class="container-fluid">
            <div class="col-md-3">
                <img src="../../Content/img/logoFooter.png" alt="logo" width="15%" />
            </div>
            <div class="col-md-4">
                <p>
                    <a data-toggle="modal" href="#myModalFunciona"><em>Como funciona</em></a> <a href="mailto:providere_arg@gmail.com">
                        <em>Contacto</em></a>
                </p>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <img src="../../Content/img/facebook.gif" alt="facebook" width="12%" /></a>
                <a href="#" class="margin-top">
                    <img src="../../Content/img/twitter.png" alt="twitter" width="12%" /></a>
            </div>
            <!--container del footer-->
        </div>
    </div>
    <!-- Modal Como Funciona-->
    <div class="modal" id="myModalFunciona">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                    <h4 class="modal-title">
                        Mas información sobre Providere</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <h4>
                                            ¿Qué es Providere?</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <blockquote>
                                        <p>
                                            En Providere, de manera fácil y clara, podes encontrar al profesional autónomo para
                                            resolver todas aquellas tareas que, de forma circunstancial o programada, necesitas
                                            atender para el buen funcionamiento de tu hogar.
                                            <br />
                                            ¿Necesitas una empleada de hogar, una niñera?
                                            <br />
                                            ¿Buscas personal cualificado para atender las necesidades y el cuidado de tus mayores
                                            o enfermos?
                                            <br />
                                            Querés realizar una reforma en tu hogar:¿Necesitas pintor,electricista,carpintero
                                            o un albañil?
                                            <br />
                                            Si eres profesional autónomo o particular, y ofreces cualquier servicio a domicilio,
                                            este es tu espacio web. Simplemente te registras y ya podes publicar una oferta
                                            del servicio que prestas.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <h4>
                                            ¿Cómo funciona Providere?</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <blockquote>
                                        <p>
                                            Providere contiene un motor de búsqueda centrado exclusivamente en los servicios
                                            a domicilio.<br />
                                            Te proporcionamos la posibilidad de encontrar al profesional que necesitas en el
                                            ámbito de los servicios a domicilio de la siguiente manera:
                                            <br />
                                            Podes hacer una búsqueda entre los usuarios que hayan publicado el servicio que
                                            prestan, ordenados por rubros y ubicación.
                                            <br />
                                            Tenes que estar registrado en el sistema para poder ponerte en contacto con quien
                                            vos quieras sin que Providere intervenga en la contratación.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    </div>
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("Scripts", required: false)
</body>
</html>
