<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"  content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link rel="Stylesheet" type="text/css" media="all" href="../../Content/css/bootstrap.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="../../Content/css/core.css" />
    <link href="../../Content/img/logosquare.png" rel="shortcut icon" type="image/png" />
    <!-- Core Scripts -->
    <script language="javascript" type="text/javascript" src="../../Scripts/js/jquery-1.10.2.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/bootstrap.min.js"></script>
    <!-- Google Maps -->
    <script language="javascript" type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/jquery.geocomplete.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {

            $("#geocomplete").geocomplete()
          .bind("geocode:result", function (event, result) {
              $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });

            $("#find").click(function () {
                $("#geocomplete").trigger("geocode");
            });


            $("#examples a").click(function () {
                $("#geocomplete").val($(this).text()).trigger("geocode");
                return false;
            });

        });
    </script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="col-md-12">
                <div style="margin-bottom: 29px;" id="contenedor-logo" class="col-md-6">
                    <a href="@Url.Action("Home", "Home")">
                        <img src="../../Content/img/logoslim.png" alt="providere" width="56%" />
                    </a>
                </div>
                <div class="col-md-6">
                    <ul style="margin-top: 10px;" class="pull-right">
                        <li>
                            <div class="btn-group user-menu pull-right">
                                <button class="btn btn-default dropdown-toggle btn-primary" type="button" data-toggle="dropdown">
                                    @User.Identity.Name <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("EditarPerfil", "Usuario")">Editar perfil</a></li>
                                    <li><a href="@Url.Action("ListarPublicaciones", "Publicacion")">Publicaciones</a></li>
                                    <li><a href="#">Calificaciones</a></li>
                                    <li><a href="#">Contrataciones</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("CerrarSesion", "Usuario")">Cerrar sesi&oacute;n</a></li>
                                </ul>
                            </div>
                            <div class="avatar pull-right col-md-2">
                                <img class="img-responsive" src="@Url.Action("MostrarImagen", "Usuario", new { id = Session["IdUsuario"]})" alt="avatar" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Ejemplo de buscador con dos select -->
            <div class="col-md-12 " id="buscador">
                <div class="col-md-5">
                    <select class="form-control">
                        <option>Seleccione rubro</option>
                        <option>Plomeria</option>
                        <option>Gasista</option>
                        <option>Electricista</option>
                        <option>Enfermeria</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input id="geocomplete" type="text" class="form-control" placeholder="Ingrese ubicacion.Ej:San Justo" />
                    </div>
                </div>
                <div class="col-md-2">
                    <input id="btnBuscar" type="submit" value="Buscar" class="btn btn-primary btn-block" />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-md-4">
                <img src="../../Content/img/logoSquare.png" alt="logo" width="12%" />
                <span class="text-info">©2014 | Todos los derechos reservados</span>
            </div>
            <div class="col-md-4 text-center">
                <p>@Html.ActionLink("Pagina principal", "Home", "Home") |
                    <a data-toggle="modal" href="#myModalFunciona">C&oacute;mo funciona</a> | <a href="mailto:providere_arg@gmail.com">
                        Contacto</a>
                </p>
            </div>
            <div class="iconos-sociales col-md-4">
                <a href="#">
                    <img src="../../Content/img/facebook.png" alt="facebook" width="12%" />
                </a><a href="#" class="margin-top">
                    <img src="../../Content/img/twitter.png" alt="twitter" width="12%" />
                </a>
            </div>
        </div>
        <!--container del footer-->
    </footer>
    <!-- Modal Como Funciona-->
    <div class="modal" id="myModalFunciona">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                    <h4 class="modal-title">
                        Mas información sobre Providere</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <h4>
                                            ¿Qué es Providere?</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <blockquote>
                                        <p>
                                            En Providere, de manera fácil y clara, podes encontrar al profesional autónomo para
                                            resolver todas aquellas tareas que, de forma circunstancial o programada, necesitas
                                            atender para el buen funcionamiento de tu hogar.
                                            <br />
                                            ¿Necesitas una empleada de hogar, una niñera?
                                            <br />
                                            ¿Buscas personal cualificado para atender las necesidades y el cuidado de tus mayores
                                            o enfermos?
                                            <br />
                                            Querés realizar una reforma en tu hogar:¿Necesitas pintor,electricista,carpintero
                                            o un albañil?
                                            <br />
                                            Si eres profesional autónomo o particular, y ofreces cualquier servicio a domicilio,
                                            este es tu espacio web. Simplemente te registras y ya podes publicar una oferta
                                            del servicio que prestas.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <h4>
                                            ¿Cómo funciona Providere?</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <blockquote>
                                        <p>
                                            Providere contiene un motor de búsqueda centrado exclusivamente en los servicios
                                            a domicilio.<br />
                                            Te proporcionamos la posibilidad de encontrar al profesional que necesitas en el
                                            ámbito de los servicios a domicilio de la siguiente manera:
                                            <br />
                                            Podes hacer una búsqueda entre los usuarios que hayan publicado el servicio que
                                            prestan, ordenados por rubros y ubicación.
                                            <br />
                                            Tenes que estar registrado en el sistema para poder ponerte en contacto con quien
                                            vos quieras sin que Providere intervenga en la contratación.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("Scripts", required: false)
</body>
</html>
