@model Providere.Models.Usuario
@{
    ViewBag.Title = "VerPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 well">
    
    <div>
        @*@Html.HiddenFor(model => model.IdUsuario)*@
    </div>
    <div>
        @Html.HiddenFor(model => model.Id)
    </div>
    <h1 class="text-center">
        @Html.DisplayFor(model => model.Nombre)
        @Html.DisplayFor(model => model.Apellido)
    </h1>
    <hr />
    
    
    <div class="col-md-9">
        <div id="ficha-publicante" class="ficha-publicante col-md-3">
            <div class="contenedor-imagen-publicacion">
                <img class="img-thumbnail" src="@Url.Action("MostrarImagen", "Usuario", new { id = Model.Id })" alt="avatar" width="100%" />
            </div>
        </div>
        <div class="col-md-8">
            <h3>
                @Html.DisplayName("Usuario desde: ")
            </h3>
            <p>
                
                @Html.DisplayFor(model => model.FechaActivacion)
            </p>
        </div>
        <div class="col-md-8">
            <h3>
                @Html.DisplayName("Ubicación: ")
            </h3>
            <p>
                <span class="glyphicon glyphicon-globe"></span>
                @Html.DisplayFor(model => model.Ubicacion)
            </p>
        </div>
       <h3> @Html.DisplayName("Reputación") </h3>
        <div class="col-md-8">
            <h3>
                @Html.DisplayName("Como cliente")
            </h3>
            <p>
                @Html.DisplayName("Positivo")
                @Html.DisplayFor(model => model.PuntajeCliente)
            </p>
        </div>
    </div>
    
    
    
    
 @*   
    
    <div class="col-md-9">
        <div class="col-md-8">
            <h3>
                Descripción</h3>
            <p>
                @Html.DisplayFor(model => model.Descripcion)</p>
        </div>
        <div class="col-md-8">
            <h3>
                Precio
            </h3>
            <span class="precio-detalle">
            @if (Model.PrecioOpcion != null)
            {

                if (Model.PrecioOpcion == 1)
                {
                @Html.Label("A Convenir") 
                }
                else
                {
                @Html.Label("$") 
                @Html.DisplayFor(model => model.Precio)
                }
            }
            </span>
        </div>
        <div class="col-md-3">
            @if (ViewBag.accionPadre != "VisualizarMiPublicacion" && ViewBag.Contratada != null)
            {
                <button name="btnTel" class="btnTel btn btn-primary btn-lg btn-block disabled" type="button">
                    Telefono:
                    <br />
                    @Model.Usuario.Telefono</button>
            }
            else
            {
                if (ViewBag.Sancion == null)
                {
                    if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1 && HttpContext.Current.Session["IdUsuario"] != null)
                    {

                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "contratar-btn btn btn-primary btn-block btn-lg btn-block" })
               
                    }
                    else
                    {
                        if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1)
                        {
                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "btn btn-primary btn-lg btn-block glyphicon glyphicon-ok" })
                        }

                        else
                        {
                            if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 0)
                            {
                
                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "btn btn-primary btn-lg btn-block disabled glyphicon glyphicon-ok" })
                            }
                        }
                    }
                }
                else
                {  
                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "btn btn-primary btn-lg btn-block disabled glyphicon glyphicon-ok" })
                }
            }
        </div>
    </div>*@
</div>
