@model Providere.Models.Usuario
@{
    ViewBag.Title = "VerPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 well">
    
    <div>
        @*@Html.HiddenFor(model => model.IdUsuario)*@
    </div>
    <div>
        @Html.HiddenFor(model => model.Id)
    </div>
    <h1 class="text-center">
        @Html.DisplayFor(model => model.Nombre)
        @Html.DisplayFor(model => model.Apellido)
    </h1>
    <hr />
    
    
    <div class="col-md-9">
        <div id="ficha-publicante" class="ficha-publicante col-md-3">
            <div class="contenedor-imagen-publicacion">
                <img class="img-thumbnail" src="@Url.Action("MostrarImagen", "Usuario", new { id = Model.Id })" alt="avatar" width="100%" />
            </div>
        </div>
        <div class="col-md-8">
            <h3>
                @Html.DisplayName("Usuario desde: ")
            </h3>
            <p>
                
                @Html.DisplayFor(model => model.FechaActivacion)
            </p>
        </div>
        <div class="col-md-8">
            <h3>
                @Html.DisplayName("Ubicación: ")
            </h3>
            <p>
                <span class="glyphicon glyphicon-globe"></span>
                @Html.DisplayFor(model => model.Ubicacion)
            </p>
        </div>
       <h3> @Html.DisplayName("Reputación") </h3>
        <div class="col-md-8">
            <h3>
                @Html.DisplayName("Como cliente")
            </h3>
           
            <div class="row">
                    <div class="col-sm-4 editor-field">
                        <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                        @Html.DisplayName("Positivo")
                        @ViewBag.PuntajeCliente.Positivo
                    </div>
                    <div class="col-sm-4 editor-field">
                        <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                        @Html.DisplayName("Neutro")
                        @ViewBag.PuntajeCliente.Neutro
                    </div>
                    <div class="col-sm-4 editor-field">
                        <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                        @Html.DisplayName("Negativo")
                        @ViewBag.PuntajeCliente.Negativo
                    </div>
                    <div class="col-sm-4 editor-field">
                        @Html.DisplayName("Total")
                        @ViewBag.PuntajeCliente.Total
                    </div>
            </div>
           
        </div>
    </div> 
    
    <div class="col-md-9">
        <div class="col-md-8">
       
            @foreach (var item in ViewBag.ListaPublicaciones)
            {
                foreach (var item2 in ViewBag.ListaPuntajes)
                {

                    if (item2.IdPublicacion == item.Id)
                    {
                    <h3>@item.Rubro.Nombre   
                
                          @if (item.SubRubro != null)
                          {
                              @item.SubRubro.Nombre
                          }                      
                              
                     <a href="/Publicacion/VisualizarPublicacion/@item.Id">@item.Titulo</a>                           
                </h3>
                    
                <div class="row">
                    <div class="col-sm-4 editor-field">
                        <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                        @Html.DisplayName("Positivo")
                        @item2.Positivo
                    </div>
                    <div class="col-sm-4 editor-field">
                        <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                        @Html.DisplayName("Neutro")
                        @item2.Neutro
                    </div>
                    <div class="col-sm-4 editor-field">
                        <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                        @Html.DisplayName("Negativo")
                        @item2.Negativo
                    </div>
                    <div class="col-sm-4 editor-field">
                        @Html.DisplayName("Total")
                        @item2.Total
                    </div>
                </div>
                    
                    }

                }
            }
       


            
        </div>
        
    </div>
</div>
