@model Providere.Models.Publicacion
@{
    ViewBag.Title = "EditarPublicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script language="javascript" type="text/javascript">
        function d1(selectTag) {
            if (selectTag.value == '2') {
                document.getElementById('prg1').disabled = false;
            } else {
                document.getElementById('prg1').disabled = true;
            }
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Mensaje
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
<div class="container well">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#editar1" role="tab" data-toggle="tab">
            Editar publicación</a></li>
        <li role="presentation"><a href="#editar2" role="tab" data-toggle="tab">Borrar imagenes</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="editar1">
            <div class="content">
                @using (Html.BeginForm("EditarPublicacion", "Publicacion", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <h3>
                            Editar mi publicación</h3>
                        <hr />
                        <div>
                            @Html.HiddenFor(model => model.Id)
                        </div>
                        <div>
                            @Html.HiddenFor(model => model.IdUsuario)
                        </div>
                        <div class="combo-rubro-subrubro">
                            <div class="rubros-container row">
                                @Html.Label("Rubro", new { @class = "col-sm-5 control-label" })
                                <div class="col-xs-3">
                                    @Html.DropDownList("IdRubro", null, new { @class = "IdRubro form-control" })
                                    @Html.ValidationMessageFor(model => model.IdRubro)
                                </div>
                            </div>
                            <div class="row subrubros-container" style="display: none">
                                @Html.Label("SubRubro", new { @class = "col-sm-5 control-label" })
                                <div data-estilo="vertical" class="subrubros-select col-xs-3">
                                    @Html.DropDownList("IdSubRubro", null, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdRubro)
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.Titulo, new { @class = "col-sm-5 control-label" })
                            <div class="col-xs-3">
                                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Titulo)
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.LabelFor(model => model.Descripcion, new { @class = "col-sm-5 control-label" })
                            <div class="col-xs-3">
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Descripcion)
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.Label("Precio", new { @class = "col-sm-5 control-label" })
                            <div class="col-xs-2">
                                @{
                    List<SelectListItem> listPrecio = new List<SelectListItem>();
                    listPrecio.Add(new SelectListItem
                    {
                        Text = "A convenir",
                        Value = "1",
                        Selected = true
                    });
                    listPrecio.Add(new SelectListItem
                    {
                        Text = "Otro",
                        Value = "2"
                    });
                                }
                                @Html.DropDownListFor(model => model.PrecioOpcion, listPrecio, new { @class = "form-control", name = "pg1", onchange = "d1(this)" })
                            </div>
                            <div class="col-xs-1">
                                @Html.Hidden("oculto",Model.Precio)
                                @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", name = "2", id = "prg1", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Precio)
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.Label("Cargar imagenes de trabajos anteriores", new { @class = "col-sm-5 control-label" })
                            <div class="col-xs-3">
                                @Html.TextBox("files", "", new { type = "file", multiple = "multiple" })
                                <p class="text-info">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>Como maximo 4 imagenes,en
                                    formato .jpg</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <button type="submit" id="btnGuardar" class="btn btn-info btn-sm">
                                    Guardar cambios</button>
                                @Html.ActionLink("Cancelar", "home", "home", null, new { @class = "btn btn-warning btn-sm" })
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="editar2">
            <h3>
                Borrar imagenes de trabajos anteriores</h3>
            <div class="content">
                <div class="col-md-12">
                    <div class="row">
                        @ViewBag.NoExistenImagenes
                        @foreach (var item in Model.Imagen)
                        {
                            using (Html.BeginForm("EliminarImagen", "Publicacion", new { id = item.Id, idPublicacion = item.IdPublicacion}, FormMethod.Post, new { @class = "form-horizontal" }))
                            {                  
                            <div class="col-md-3">
                                <a href="../../Imagenes/Publicacion/@item.Nombre" data-lightbox="roadtrip">
                                    <img src="../../Imagenes/Publicacion/@item.Nombre"  width="100%" alt="" height= "200px" />
                                </a>
                                @if (item.Nombre != null)
                                {
                                    <div class="form-group">
                                        <div class="col-md-offset-5">
                                            <button type="submit" id="btnBorrar" class="btn btn-warning btn-sm">
                                                Borrar</button>
                                        </div>
                                    </div>
                                }
                            </div>                      
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
