@model Providere.Models.Publicacion
@{
    ViewBag.Title = "Publicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Sancion != null)
{
    <div class="alert alert-danger alert-dismissable container">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        Su cuenta esta actualmente bloqueada por lo cual no puede realizar contrataciones
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Exito != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Exito
    </div>
}
<div id="publicacion" class="col-md-12 well">
      
    
    <div>
        @Html.HiddenFor(model => model.IdUsuario)
    </div>
    <div>
        @Html.HiddenFor(model => model.Id)
    </div>
    <div>
        <h1 class="titulo text-center col-md-12">
            @Html.DisplayFor(model => model.Titulo)
      
          @if (ViewBag.accionPadre == "VisualizarMiPublicacion")
        {
                
            @Html.ActionLink("Editar", "EditarPublicacion", "Publicacion", new { Id = Model.Id }, new { @class = "editar-btn btn btn-primary btn-lg pull-right " })
        }
          </h1>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-9">
        <div class="col-md-8">
            <h3 class="titulo-descripcion">
                Descripción</h3>
            <p>
                @Html.DisplayFor(model => model.Descripcion)</p>
        </div>
        <div class="col-md-4">
            @if (ViewBag.accionPadre != "VisualizarMiPublicacion" && ViewBag.Contratada != null)
            {
                <button name="btnTel" class="btnTel btn btn-primary btn-lg btn-block disabled" type="button">
                    <span class="glyphicon glyphicon-earphone"></span><span class="numero">@Model.Usuario.Telefono</span></button>
            }
            else
            {
                if (ViewBag.Sancion == null)
                {
                    if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1 && HttpContext.Current.Session["IdUsuario"] != null)
                    {

                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "contratar-btn btn btn-primary btn-lg btn-block" })
               
                    }
                    else
                    {
                        if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1)
                        {
                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "contratar-btn btn btn-primary btn-lg btn-block" })
                        }

                        else
                        {
                            if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 0)
                            {
                
                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "contratar-btn btn btn-primary btn-lg btn-block disabled" })
                            }
                        }
                    }
                }
                else
                {  
                @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "contratar-btn btn btn-primary btn-lg btn-block disabled" })
                }
            }
        </div>
        <div class="col-md-8">
            <h3>
                Precio
            </h3>
            <span class="precio-detalle">
                @if (Model.PrecioOpcion != null)
                {

                    if (Model.PrecioOpcion == 1)
                    {
                    @Html.Label("A Convenir") 
                    }
                    else
                    {
                    @Html.Label("$") 
                    @Html.DisplayFor(model => model.Precio)
                    }
                }
            </span>
        </div>
        <div class="col-md-12">
            <h3>
                Calificaciones</h3>
            <div class="row">
                @if (ViewBag.PrimerasCalificaciones.Count > 0)
                {
                    foreach (var item in ViewBag.PrimerasCalificaciones)
                    {
                        if (item.IdTipoEvaluacion == 1)
                        {     
                    <div class="col-md-12">
                        <div>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span><em>@item.Descripcion</em>
                            <dd class="col-sm-offset-3">
                                <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                            </dd>
                            @if (item.FlagReplicado == 1)
                            {
                                foreach (var rep in ViewBag.FueReplicado)
                                {
                                    if (rep.IdCalificacion == item.Id)
                                    {
                                <dd class="col-sm-offset-3">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                    }
                                }
                            }
                        </div>
                    </div> 
                        }

                        if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 0)
                        {     
                    <div class="col-md-12">
                        <div>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span><em>@item.Descripcion</em>
                            <dd class="col-sm-offset-3">
                                <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                            </dd>
                            @if (item.FlagReplicado == 1)
                            {
                                foreach (var rep in ViewBag.FueReplicado)
                                {
                                    if (rep.IdCalificacion == item.Id)
                                    {
                                <dd class="col-sm-offset-3">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                    }
                                }
                            }
                        </div>
                    </div> 
                        }
                        else
                        {
                            if (item.FlagDenunciado == 1)
                            {
                    <div class="col-md-5">
                        <br />
                        <div class="alert alert-danger alert-dismissable">
                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                        </div>
                    </div> 
                            }
                        }

                        if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 0)
                        {     
                    <div class="col-md-12">
                        <div>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                            <em>@item.Descripcion</em>
                            <dd class="col-sm-offset-3">
                                <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                            </dd>
                            @if (item.FlagReplicado == 1)
                            {
                                foreach (var rep in ViewBag.FueReplicado)
                                {
                                    if (rep.IdCalificacion == item.Id)
                                    {
                                <dd class="col-sm-offset-3">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                    }
                                }
                            }
                        </div>
                    </div> 
                        }
                        else
                        {
                            if (item.FlagDenunciado == 1)
                            {
                    <div class="col-md-5">
                        <br />
                        <div class="alert alert-danger alert-dismissable">
                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                        </div>
                    </div> 
                            }
                        }
                    }
                }
                else
                {
                    <div class="col-md-12">
                        No existen calificaciones para mostrar.
                    </div>
                }
                @if (ViewBag.Calificaciones.Count > 5)
                {
                    <!-- Button trigger modal -->
                    <center>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
                            Ver mas calificaciones
                        </button>
                    </center>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Calificaciones recibidas por la contratación de este servicio</h4>
                                </div>
                                <div class="modal-body">
                                    <select id="status" name="status" onchange="mostrar(this.value);">
                                        <option value="seleccionar">Selecciona una opción</option>
                                        <option value="todas">Todas</option>
                                        <option value="positivas">Positivas</option>
                                        <option value="neutras">Neutras</option>
                                        <option value="negativas">Negativas</option>
                                    </select>
                                    <div id="todas" style="display: none;">
                                        @if (ViewBag.Calificaciones.Count > 0)
                                        {
                                            foreach (var item in ViewBag.Calificaciones)
                                            {
                                            <br />
                                                if (item.IdTipoEvaluacion == 1)
                                                {   
                                            <div>
                                                <div>
                                                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                    <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                                </div>
                                                <div>
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span><em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-4">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    @if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.FueReplicado)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                        <dd class="col-sm-offset-4">
                                                            <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                                <em>@rep.Comentario</em> </span>
                                                        </dd>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                                }

                                                if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 0)
                                                {   
                                            <div>
                                                <div>
                                                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                    <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                                </div>
                                                <div>
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span><em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-4">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    @if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.FueReplicado)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                        <dd class="col-sm-offset-4">
                                                            <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                                <em>@rep.Comentario</em> </span>
                                                        </dd>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                                }
                                                else
                                                {
                                                    if (item.FlagDenunciado == 1)
                                                    {
                                            <div class="col-md-5">
                                                <br />
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                </div>
                                            </div> 
                                                    }
                                                }

                                                if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 0)
                                                {   
                                            <div>
                                                <div>
                                                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                    <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                                </div>
                                                <div>
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                    <em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-4">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    @if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.FueReplicado)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                        <dd class="col-sm-offset-4">
                                                            <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                                <em>@rep.Comentario</em> </span>
                                                        </dd>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                                }
                                                else
                                                {
                                                    if (item.FlagDenunciado == 1)
                                                    {
                                            <div class="col-md-5">
                                                <br />
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                </div>
                                            </div> 
                                                    }
                                                }
                                            }

                                        }
                                    </div>
                                    @* Solo positivas*@
                                    <div id="positivas" style="display: none;">
                                        @if (ViewBag.CalificacionesPositivas.Count > 0)
                                        {
                                            foreach (var item1 in ViewBag.CalificacionesPositivas)
                                            {
                                            <br />
                                            <div>
                                                <div>
                                                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item1.IdCalificador })" alt="avatar" width="40px"/>
                                                    <a href="#">@item1.Contratacion.Usuario.Nombre @item1.Contratacion.Usuario.Apellido</a>
                                                </div>
                                                <div>
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span><em>@item1.Descripcion</em>
                                                    <dd class="col-sm-offset-4">
                                                        <small><span class="help-block">@item1.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    @if (item1.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep1 in ViewBag.FueReplicado)
                                                        {
                                                            if (rep1.IdCalificacion == item1.Id)
                                                            {
                                                        <dd class="col-sm-offset-4">
                                                            <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                                <em>@rep1.Comentario</em> </span>
                                                        </dd>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            }
                                        }
                                        else
                                        {
                                            <center>
                                                No hay calificaciones positivas para mostrar.</center>
                                        }
                                    </div>
                                    @* Solo neutras*@
                                    <div id="neutras" style="display: none;">
                                        @if (ViewBag.CalificacionesNeutras.Count > 0)
                                        {
                                            foreach (var item2 in ViewBag.CalificacionesNeutras)
                                            {
                                            <br />
                                            <div>
                                                <div>
                                                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item2.IdCalificador })" alt="avatar" width="40px"/>
                                                    <a href="#">@item2.Contratacion.Usuario.Nombre @item2.Contratacion.Usuario.Apellido</a>
                                                </div>
                                                <div>
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span><em>@item2.Descripcion</em>
                                                    <dd class="col-sm-offset-4">
                                                        <small><span class="help-block">@item2.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    @if (item2.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep2 in ViewBag.FueReplicado)
                                                        {
                                                            if (rep2.IdCalificacion == item2.Id)
                                                            {
                                                        <dd class="col-sm-offset-4">
                                                            <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                                <em>@rep2.Comentario</em> </span>
                                                        </dd>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            }
                                        }
                                        else
                                        {
                                            <center>
                                                No hay calificaciones neutras para mostrar.</center>
                                        }
                                    </div>
                                    @* Solo negativas*@
                                    <div id="negativas" style="display: none;">
                                        @if (ViewBag.CalificacionesNegativas.Count > 0)
                                        {
                                            foreach (var item3 in ViewBag.CalificacionesNegativas)
                                            {
                                                if (item3.FlagDenunciado == 0)
                                                {   
                                            <br />
                                            <div>
                                                <div>
                                                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item3.IdCalificador })" alt="avatar" width="40px"/>
                                                    <a href="#">@item3.Contratacion.Usuario.Nombre @item3.Contratacion.Usuario.Apellido</a>
                                                </div>
                                                <div>
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                    <em>@item3.Descripcion</em>
                                                    <dd class="col-sm-offset-4">
                                                        <small><span class="help-block">@item3.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    @if (item3.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep3 in ViewBag.FueReplicado)
                                                        {
                                                            if (rep3.IdCalificacion == item3.Id)
                                                            {
                                                        <dd class="col-sm-offset-4">
                                                            <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                                <em>@rep3.Comentario</em> </span>
                                                        </dd>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                                }
                                                else
                                                {
                                            <div class="col-md-5">
                                                <br />
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                </div>
                                            </div> 
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <br />
                                            <center>
                                                No hay calificaciones negativas para mostrar.</center>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-12">
            <h3>
                Últimos trabajos realizados</h3>
            @if (ViewBag.NoExistenImagenes == "No existen imágenes para mostrar.")
            {
                @ViewBag.NoExistenImagenes
            }
            else
            {
                <div class="row">
                    @foreach (var item in Model.Imagen)
                    {
                        <div class="col-md-3">
                            <a class="example-image-link" href="../../Imagenes/Publicacion/@item.Nombre" data-lightbox="example-set">
                                <img class="thumbnail" src="../../Imagenes/Publicacion/@item.Nombre"  width="100%" alt="" height= "150px" />
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div id="ficha-publicante" class="ficha-publicante ">
            <div class="contenedor-imagen-publicacion">
                @if (ViewBag.accionPadre == "VisualizarMiPublicacion")
                {               
                    <img class="img-thumbnail" src="@Url.Action("MostrarImagen", "Usuario", new { id = Session["IdUsuario"] })" alt="avatar" width="100%" />             
                }
                else
                {
                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = Model.IdUsuario })" alt="avatar" width="100%"/>
                }
            </div>
            <div class="contenedor-info-publicante">
                <h2>
                    @Html.DisplayFor(model => model.Usuario.Nombre)
                    @Html.DisplayFor(model => model.Usuario.Apellido)
                </h2>
                <span class="text-muted">@Html.DisplayFor(model => model.Rubro.Nombre) </span><span
                    class="badge">@ViewBag.MostrarPuntaje</span>
                <br />
                <span class="text-muted">@Html.DisplayFor(model => model.SubRubro.Nombre) </span>
            </div>
            <div class="ubicacion">
                <span class="glyphicon glyphicon-globe"></span><span>@Html.DisplayFor(model => model.Usuario.Ubicacion)
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <h3>
                Preguntas al prestador</h3>
            @ViewBag.NoExistenPreguntas
            @foreach (var item in ViewBag.MostrarPrimerasPreguntas)
            {
                <dl class="question" id="pregunta">
                    <dd class="txt">
                        <span class="text-info"><i class="glyphicon glyphicon-comment"></i></span><span>@item.Pregunta</span>
                    </dd>
                    <br />
                    @if (item.Respuesta != null)
                    {
                        <dd class="col-md-offset-1">
                            <span class="text-info"><i class="glyphicon glyphicon-user"></i></span>@item.Respuesta
                        </dd>
                        <dd class="col-sm-offset-2">
                            <small><span class="help-block">@item.FechaRespuesta.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                        </dd>
                    }
                </dl>
                <hr />
            }
            @if (ViewBag.MostrarPreguntas.Count > 0)
            {
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>preguntas</a>
            }
            <div class="collapse" id="collapseExample">
                @foreach (var item in ViewBag.MostrarPreguntas)
                {
                    <br />
                    <dl class="question" id="pregunta2">
                        <dd class="txt">
                            <span class="text-info"><i class="glyphicon glyphicon-comment"></i></span><span>@item.Pregunta</span>
                        </dd>
                        <br />
                        @if (item.Respuesta != null)
                        {
                            <dd class="col-md-offset-1">
                                <span class="text-info"><i class="glyphicon glyphicon-user"></i></span>@item.Respuesta
                            </dd>
                            <dd class="col-sm-offset-2">
                                <small><span class="help-block">@item.FechaRespuesta.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                            </dd>
                        }
                    </dl>
                    <hr />
                }
            </div>
        </div>
        <div class="col-md-12">
            @if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1 && HttpContext.Current.Session["IdUsuario"] != null)
            {
                using (Html.BeginForm("Preguntar", "Pregunta", FormMethod.Post))
                {
                <div>
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div>
                    @Html.HiddenFor(model => model.IdUsuario)
                </div>
                <div>
                    <br />
                    @Html.TextArea("preguntar", new { @class = "form-control ", placeholder = "Escribe tu pregunta..." })
                    <p class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>No podes compartir datos
                        personales por aquí</p>
                    <button name="btnEnviar" class="btn btn-primary btn-lg" type="submit">
                        Enviar</button>
                </div>     
                }
            }
            else
            {
                if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1)
                {
                <div>
                    <br />
                    @Html.TextArea("preguntar", new { @class = "form-control", placeholder = "Escribe tu pregunta..." })
                    <p class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>No podes compartir datos
                        personales por aquí</p>
                    <button name="btnEnviar" class="btn btn-primary btn-lg disabled" type="submit">
                        Enviar</button>
                </div> 
                }
                else
                {
                    if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 0)
                    {               
                <div>
                    <br />
                    @Html.TextArea("preguntar", new { @class = "form-control", placeholder = "Escribe tu pregunta..." })
                    <p class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>No podes compartir datos
                        personales por aquí</p>
                    <button name="btnEnviar" class="btn btn-primary btn-lg disabled" type="submit">
                        Enviar</button>
                </div>                         
                    }
                }
            }
        </div>
    </div>
</div>
