@model Providere.Models.Publicacion
@{
    ViewBag.Title = "Publicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container well">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">
                &times;</button>
            @ViewBag.Error
        </div>
    }
    @using (Html.BeginForm("VisualizarMiPublicacion", "Publicacion", FormMethod.Post))
    {
        <h1 class="text-right">
            @if (ViewBag.accionPadre == "VisualizarMiPublicacion")
            {
                
                @Html.ActionLink(" Editar", "EditarPublicacion", "Publicacion", new { Id = Model.Id }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-pencil" })
            }
        </h1>
        
        <div>
            @Html.HiddenFor(model => model.IdUsuario)
        </div>
        <div>
            @Html.HiddenFor(model => model.Id)
        </div>
 
        <h1 class="text-center">
            @Html.DisplayFor(model => model.Titulo)
        </h1>
        <hr />
        
        <div class="col-md-9">
            <div class="col-md-8">
                <h3>
                    Descripción</h3>
                <p>
                    @Html.DisplayFor(model => model.Descripcion)</p>
            </div>
            <div class="col-md-4">
                <h3>
                    Precio
                </h3>
                @if (Model.PrecioOpcion != null)
                {

                    if (Model.PrecioOpcion == 1)
                    {
                    @Html.Label("A Convenir") 
                    }
                    else
                    {
                    @Html.Label("$") 
                    @Html.DisplayFor(model => model.Precio)
                    }

                }
                <div>
                    @if (ViewBag.accionPadre != "VisualizarMiPublicacion" && ViewBag.Contratada != null)
                    {
                        <button name="btnTel" class="btn btn-primary btn-lg disabled" type="button">
                            Telefono:
                            <br />
                            @Model.Usuario.Telefono</button>
                    }
                    else
                    {
                        if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1 && HttpContext.Current.Session["IdUsuario"] != null)
                        {
                        @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "btn btn-primary btn-lg btn-block glyphicon glyphicon-ok" })
               
                        }
                        else
                        {
                            if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1)
                            {
                        @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "btn btn-primary btn-lg btn-block glyphicon glyphicon-ok" })
                            }

                            else
                            {
                                if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 0)
                                {
                
                        @Html.ActionLink("Contratar", "ContratarPublicacion", "Publicacion", Model, new { @class = "btn btn-primary btn-lg btn-block disabled glyphicon glyphicon-ok" })
                                }
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-md-12">
                <h3>
                    Calificaciones</h3>
                <div class="row">
                    @if (ViewBag.PrimerasCalificaciones.Count > 0)
                    {
                        foreach (var item in ViewBag.PrimerasCalificaciones)
                        {
                        <div class="col-md-12">
                            <div class="avatar">
                                <img class="" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                <a href="#">@item.Contratacion.Usuario.Nombre</a>
                            </div>
                            <div>
                                @if (@item.IdTipoEvaluacion == 1) //Positiva
                                {
                                    <span class="text-success"><i class="glyphicon glyphicon-plus"></i></span>
                                    <span>@item.Descripcion</span>
                                }
                                @if (@item.IdTipoEvaluacion == 2) //Neutro
                                {
                                    <span class="text-info"><i class="glyphicon glyphicon-record"></i></span>
                                    <span>@item.Descripcion</span>
                                }
                                @if (@item.IdTipoEvaluacion == 3) //Negativo
                                {
                                    <span class="text-warning"><i class="glyphicon glyphicon-minus"></i></span>
                                    <span>@item.Descripcion</span>
                                }
                            </div>
                        </div>
                        }
                        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">Ver mas calificaciones </a>
                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                @if (ViewBag.Calificaciones.Count > 0)
                                {
                                    foreach (var item in ViewBag.Calificaciones)
                                    {
                                        <div class="avatar">
                                            <img class="" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                            <a href="#">@item.Contratacion.Usuario.Nombre</a>
                                        </div>
                                        <div>
                                            @if (@item.IdTipoEvaluacion == 1) //Positiva
                                            {
                                                <span class="text-success"><i class="glyphicon glyphicon-plus"></i></span>
                                                <span>@item.Descripcion</span>
                                            }
                                            @if (@item.IdTipoEvaluacion == 2) //Neutro
                                            {
                                                <span class="text-info"><i class="glyphicon glyphicon-record"></i></span>
                                                <span>@item.Descripcion</span>
                                            }
                                            @if (@item.IdTipoEvaluacion == 3) //Negativo
                                            {
                                                <span class="text-warning"><i class="glyphicon glyphicon-minus"></i></span>
                                                <span>@item.Descripcion</span>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            No existen calificaciones para mostrar
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <h3>
                    Últimos trabajos realizados</h3>
                @ViewBag.NoExistenImagenes
                <div class="row">
                    @foreach (var item in Model.Imagen)
                    {
                        <div class="col-md-3">
                            <a class="example-image-link" href="../../Imagenes/Publicacion/@item.Nombre" data-lightbox="example-set">
                                <img class="thumbnail" src="../../Imagenes/Publicacion/@item.Nombre"  width="100%" alt="" height= "150px" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="ficha-publicante" class="ficha-publicante col-md-3">
            <div class="contenedor-imagen-publicacion">
                @if (ViewBag.accionPadre == "VisualizarMiPublicacion")
                {               
                    <img class="img-thumbnail" src="@Url.Action("MostrarImagen", "Usuario", new { id = Session["IdUsuario"] })" alt="avatar" width="100%" />             
                }
                else
                {
                    <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = Model.IdUsuario })" alt="avatar" width="100%"/>
                }
            </div>
            <div class="contenedor-info-publicante">
                <h2>
                    @Html.DisplayFor(model => model.Usuario.Nombre)
                    @Html.DisplayFor(model => model.Usuario.Apellido)
                </h2>
                <span class="text-muted">@Html.DisplayFor(model => model.Rubro.Nombre) </span><span
                    class="badge">@ViewBag.MostrarPuntaje</span>
                <br />
                <span class="text-muted">@Html.DisplayFor(model => model.SubRubro.Nombre) </span>
            </div>
            <div class="ubicacion">
                <span class="glyphicon glyphicon-globe"></span><span>@Html.DisplayFor(model => model.Usuario.Ubicacion)
                </span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h3>
                    Preguntas al prestador</h3>
                @ViewBag.NoExistenPreguntas
                @foreach (var item in Model.PreguntaRespuesta)
                {
               
                    <dl class="question" id="pregunta">
                        <dd class="txt">
                            <span class="text-info"><i class="glyphicon glyphicon-comment"></i></span><span>@item.Pregunta</span>
                        </dd>
                        <br />
                        @if (item.Respuesta != null)
                        {
                            <dd class="col-md-offset-1">
                                <span class="text-info"><i class="glyphicon glyphicon-user"></i></span><span>@item.Respuesta</span>
                                <br />
                                <span class="help-block">@item.FechaRespuesta</span>
                            </dd>
                        }
                    </dl>
                }
            </div>
        </div>
    }
    <div class="col-md-12">
        @if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1 && HttpContext.Current.Session["IdUsuario"] != null)
        {
            using (Html.BeginForm("Preguntar", "Pregunta", FormMethod.Post))
            {
            <div>
                @Html.HiddenFor(model => model.Id)
            </div>
            <div>
                @Html.HiddenFor(model => model.IdUsuario)
            </div>
            <div class="form-group col-md-10">
                @Html.TextArea("preguntar", new { @class = "form-control ", placeholder = "Escribe tu pregunta..." })
            </div>
            <div class="form-group col-md-2">
                <button name="btnEnviar" class="btn btn-primary btn-lg" type="submit">
                    Enviar</button>
            </div>  
            <p class="text-info">
                <span class="glyphicon glyphicon-exclamation-sign"></span>No podes compartir datos
                personales por aquí</p>        
            }
        }
        else
        {
            if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 1)
            {
            <div class="form-group col-md-10">
                @Html.TextArea("preguntar", new { @class = "form-control", placeholder = "Escribe tu pregunta..." })
            </div>
            <div class="form-group col-md-2">
                <button name="btnEnviar" class="btn btn-primary btn-lg disabled" type="submit">
                    Enviar</button>
            </div> 
            <p class="text-info">
                <span class="glyphicon glyphicon-exclamation-sign"></span>No podes compartir datos
                personales por aquí</p>
            }
            else
            {
                if (ViewBag.accionPadre != "VisualizarMiPublicacion" && Model.Estado == 0)
                {
                
            <div class="form-group col-md-10">
                @Html.TextArea("preguntar", new { @class = "form-control", placeholder = "Escribe tu pregunta..." })
            </div>
            <div class="form-group col-md-2">
                <button name="btnEnviar" class="btn btn-primary btn-lg disabled" type="submit">
                    Enviar</button>
            </div> 
            <p class="text-info">
                <span class="glyphicon glyphicon-exclamation-sign"></span>No podes compartir datos
                personales por aquí</p>                           
                }
            }
        }
    </div>
</div>
