@model  IEnumerable<Providere.Models.PreguntaRespuesta>
@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Exito != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Exito
    </div>
}
<div class="col-md-12 well">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#responder" role="tab" data-toggle="tab">
            A responder</a></li>
        <li role="presentation"><a href="#meContestaron" role="tab" data-toggle="tab">Realizadas</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="responder">
            <h2>
                Preguntas a responder</h2>
            @if (ViewBag.PreguntasSinResponder.Count > 0)
            {
                foreach (var item in ViewBag.PreguntasSinResponder)
                { 
                <br />              
                <div class="col-md-12">
                    <legend><a href="/Publicacion/VisualizarPublicacion/@item.Publicacion.Id">@item.Publicacion.Titulo</a></legend>
                    <div>
                        <dl class="question" id="1">
                            <dd class="txt">
                                <span class="text-info"><i class="glyphicon glyphicon-comment"></i></span><span>@item.Pregunta</span></dd>
                        </dl>
                    </div>
                    @using (Html.BeginForm("Responder", "Pregunta", new { id = item.Id }, FormMethod.Post))
                    {  
                        <div class="row">
                            <div class="form-group col-md-10">
                                @Html.TextArea("responder", null, new { @class = "form-control", placeholder = "Escribe tu respuesta..." })
                            </div>
                            <div class="form-group col-md-2">
                                <button name="btnEnviar" class="btn btn-primary btn-lg" type="submit">
                                    Enviar</button>
                            </div>
                        </div>
                    }
                    @* <hr />*@
                </div> 
                }
            }
            else
            {
                <span>No hay preguntas pendientes a responder</span>
            }
        </div>

        <div role="tabpanel" class="tab-pane" id="meContestaron">
            <h2>
                Preguntas realizadas como cliente</h2>
            @if (ViewBag.PreguntasQueHice.Count > 0)
            {
                foreach (var item in ViewBag.PreguntasQueHice)
                {
                    using (Html.BeginForm("EliminarPregunta", "Pregunta", new { id = item.Id }, FormMethod.Post))
                    {
                <br />
                <div class="col-md-12">
                    <legend><a href="/Publicacion/VisualizarPublicacion/@item.Publicacion.Id">@item.Publicacion.Titulo</a></legend>
                    <dl class="question" id="6">
                        <dd class="txt">
                            <span class="text-info"><i class="glyphicon glyphicon-comment"></i></span><span>@item.Pregunta</span>
                        </dd>
                        <br />
                        @if (item.Respuesta != null)
                        {
                            <dd class="col-md-offset-1">
                                <span class="text-info"><i class="glyphicon glyphicon-user"></i></span><span>@item.Respuesta</span><span
                                    class="help-block">@item.FechaRespuesta</span></dd>      
                        }
                        <button name="btnBorrar" class="btn btn-primary btn-sm" type="submit">
                            <span class="glyphicon glyphicon-trash"></span>Borrar pregunta</button>
                    </dl>
                    <br />
                </div>
                    }
                }
            }
            else
            {
                <span>Todavia no preguntaste nada</span>
            }
        </div>
    </div>
</div>
