@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Exito != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Exito
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
<div>
    @if (ViewBag.PublicacionesMasRecientes.listadoDePublicaciones.Count > 0)
    {<div class="listado-publicaciones" id="ultimas-publicaciones">
        <h2>
            Ultimas publicaciones</h2>
        <br />
        <div class="row">
            @foreach (var item in ViewBag.PublicacionesMasRecientes.listadoDePublicaciones)
            {               
                <div class="col-xs-3">
                    <a href="/Publicacion/VisualizarPublicacion/@item.publicacion.Id" >
                        <div class="thumbnail">
                        
                                    <div class="contenedor-img">
                            <img src="../../Imagenes/Publicacion/@item.imagen.Nombre"
                                 width="110%" alt="" height= "200px" />
                                 </div>
                            <div class="caption text-center">
                                <h4>
                                    <a href="#">
                                        @item.publicacion.Usuario.Nombre @item.publicacion.Usuario.Apellido</a></h4>
                                <strong>@item.publicacion.Rubro.Nombre</strong> <span class="badge">@item.puntaje.Total</span>
                                <br />
                                <span><a href="/Publicacion/VisualizarPublicacion/@item.publicacion.Id">@item.publicacion.Titulo</a></span>
                                <br />
                                  <p>
                                    @if (@item.publicacion.PrecioOpcion == 1)
                                    {
                                       
                                        @Html.Label("A Convenir") 
                                    }
                                    else
                                    {
                                        @Html.Label("$") 
                                        @String.Format("{0:0.00}", @item.publicacion.Precio)                     
                   
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <center>
            <a href="/Publicacion/Lista">
                <button type="button" class="btn btn-primary">
                    Ver mas publicaciones</button></a>
        </center>
    </div>
    }
    else
    {
        <div class="mensaje-sin-registros text-center">
            <div class="text-muted">Hoy no hay publicaciones recientes.</div>
        </div>
    }
    <hr />
 
    @*@if (ViewBag.PublicacionesMejorCalificadas.listadoDePublicaciones.Count > 0)*@
    @if (ViewBag.PublicacionesMejorCalificadas.listadoDePublicaciones.Count > 5455)
    {
        <div id="prestadores-mejores">
            <h2>
                Prestadores mejor calificados</h2>
            <br />
            <div class="row">
                @foreach (var item in ViewBag.PublicacionesMejorCalificadas.listadoDePublicaciones)
                {
                
                    <div class="col-xs-3">
                            <div class="thumbnail" style="height: 330px">
                                
                                    <div class="contenedor-img">
                            <img src="../../Imagenes/Publicacion/@item.imagen.Nombre"
                                 width="110%" alt="" height= "200px" />
                                 </div> <div class="caption text-center">
                                    <h4>
                                        <a href="#">
                                            @item.publicacion.Usuario.Nombre @item.publicacion.Usuario.Apellido</a></h4>
                                    <strong>@item.publicacion.Rubro.Nombre</strong> <span class="badge">@item.puntaje.Total</span>
                                    <br />
                                </div>
                            </div>
                       @* </a>*@
                    </div>
                }</div>
            <center>
                <a href="/Publicacion/Lista">
                    <button type="button" class="btn btn-primary">
                        Ver mas prestadores</button></a>
            </center>
        </div>
    }
    else
    {
        <div class="text-center mensaje-sin-registros">
            <div class="text-muted">Hoy no hay publicaciones destacadas.</div>
        </div>
    }
    <hr />
    
    @*@if (ViewBag.PublicacionesMasCercanas.listadoDePublicaciones.Count > 0)*@
    @if (ViewBag.PublicacionesMasCercanas.listadoDePublicaciones.Count >45444)
    {
        <div id="prestadores-zona">
            <h2>
                Prestadores de mi zona</h2>
            <br />
            <div class="row">
                @foreach (var item in ViewBag.PublicacionesMasCercanas.listadoDePublicaciones)
                {
                
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height: 360px">
                            <img class="" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.publicacion.IdUsuario })" alt="plomero" width="100%"/>
                            <div class="caption text-center">
                                <h4>
                                    <a href="#">
                                        @item.publicacion.Usuario.Nombre @item.publicacion.Usuario.Apellido</a></h4>
                                <strong>@item.publicacion.Rubro.Nombre</strong> <span class="badge">@item.puntaje.Total</span>
                                <br />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <center>
                <a href="/Publicacion/Lista">
                    <button type="button" class="btn btn-primary">
                        Ver mas prestadores en mi zona</button>
                </a>
            </center>
        </div>
    }
    else
    {
        <div class="mensaje-sin-registros text-center">
            <div class="text-muted">Hoy no hay publicaciones de tu zona.</div>
        </div>
    }
</div>
