@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Exito != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Exito
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Sancion != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        Usted ha sido sancionado por las múltiples denuncias realizadas a sus mensajes.
        La penalización finalizará el @ViewBag.Sancion.FechaFin.ToString("f")
    </div>
}
@if (ViewBag.PreguntaSinResponder.Count > 0)
{  
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        <center>
            <span class="glyphicon glyphicon-bell"></span>Tienes preguntas sin responder. <a href="@Url.Action("Index", "Pregunta")">
                Ver todas las preguntas.</a></center>
    </div>   
}
<div>
    <h2>
        Ultimas publicaciones</h2>
    @if (ViewBag.PublicacionesMasRecientes.listadoDePublicaciones.Count > 0)
    {
        <div class="listado-publicaciones" id="ultimas-publicaciones">
            <br />
            <div class="row">
                @{ int counter = 0; }
                @foreach (var item in ViewBag.PublicacionesMasRecientes.listadoDePublicaciones)
                {
                    counter++;
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3
                    @if (counter == ViewBag.LimiteDePrestadores)
                    {
                        @Html.Raw(" hidden-md ")
                    }
                    ">
                        <a href="/Publicacion/VisualizarPublicacion/@item.publicacion.Id" >
                            <div class="thumbnail">
                                <div class="contenedor-img">
                                    <img src="../../Imagenes/Publicacion/@item.imagen.Nombre"
                                 width="110%" alt="" height= "200px" />
                                </div>
                                <div class="caption text-center">
                                    <h4>
                                        <span><a href="/Publicacion/VisualizarPublicacion/@item.publicacion.Id" class="cortar_con_ellipsis">@item.publicacion.Titulo</a></span></h4>
                                    @if (@item.publicacion.SubRubro != null)
                                    {                                        
                                            
                                        <strong>Service @item.publicacion.SubRubro.Nombre</strong>}
                                    else
                                    {
                                        <strong>@item.publicacion.Rubro.Nombre</strong>
                                    }
                                    <span class="badge">@item.puntaje.Total</span>
                                    <h4>
                                        @item.publicacion.Usuario.Nombre @item.publicacion.Usuario.Apellido</h4>
                                    <p>
                                        @if (@item.publicacion.PrecioOpcion == 1)
                                        {
                                       
                                            @Html.Label("A Convenir") 
                                        }
                                        else
                                        {
                                            @Html.Label("$") 
                                            @String.Format("{0:0.00}", @item.publicacion.Precio)                                       
                                        }
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            @if (ViewBag.PublicacionesMasRecientesMas.listadoDePublicaciones.Count > 4)
            {
                <center>
                    <a href="@Url.Action("VerMasPublicaciones", "Publicacion")" class="btn btn-primary">
                        <span class="glyphicon glyphicon-chevron-right"></span>Ver mas publicaciones</a>
                </center>
            }
        </div>
    }
    else
    {
        <div class="mensaje-sin-registros text-center">
            <div class="text-muted">
                Hoy no hay publicaciones recientes.</div>
        </div>
    }
    <hr />
    <div id="prestadores-mejores">
        <h2>
            Prestadores mejor calificados</h2>
        <br />
        @if (ViewBag.PrestadoresMejorCalificados.listadoDePublicaciones.Count > 0)
        {        
            <div class="row">
                @{ int counter = 0; }
                @foreach (var item in ViewBag.PrestadoresMejorCalificados.listadoDePublicaciones)
                {
                    counter++;
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3
                    @if (counter == ViewBag.LimiteDePrestadores)
                    {
                        @Html.Raw(" hidden-md ")
                    }
                    ">
                        <div class="thumbnail" style="height: 330px">
                            <div class="contenedor-img">
                                <a href="/Usuario/VerPerfil/@item.publicacion.Usuario.Id">
                                    <img class="" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.publicacion.IdUsuario })" alt="plomero" width="100%"/>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4>
                                    <a href="/Usuario/VerPerfil/@item.publicacion.Usuario.Id">
                                        @item.publicacion.Usuario.Nombre @item.publicacion.Usuario.Apellido
                                    </a>
                                </h4>
                                @if (item.publicacion.SubRubro != null)
                                {                                        
                                            
                                    <strong>Service @item.publicacion.SubRubro.Nombre</strong>}
                                else
                                {
                                    <strong>@item.publicacion.Rubro.Nombre</strong>
                                }
                                <span class="badge"> @item.puntaje.Total</span>
                                <br />
                            </div>
                        </div>
                    </div>
                }
            </div>
                if (ViewBag.PrestadoresMejorCalificadosMas.listadoDePublicaciones.Count > 4)
                {
            <center>
                <a href="@Url.Action("VerMasPrestadores", "Publicacion")" class="btn btn-primary"><span
                    class="glyphicon glyphicon-chevron-right"></span>Ver mas prestadores</a>
            </center>
                }
        }
        else
        {
            <div class="text-center mensaje-sin-registros">
                <div class="text-muted">
                    Aún no hay prestadores mejor calificados.</div>
            </div>
        }
    </div>
    <hr />
    <div id="prestadores-zona">
        <h2>
            Prestadores de mi zona</h2>
        <br />
        @if (ViewBag.UsuariosMasCercanos.Count > 0)
        {
            <div class="row">
                @{ int counter = 0; }
                @foreach (var item in ViewBag.UsuariosMasCercanos)
                {
                    counter++;
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3
                    @if (counter == ViewBag.LimiteDePrestadores)
                    {
                        @Html.Raw(" hidden-md ")
                    }
                    ">
                        <div class="thumbnail" style="height: 360px">
                            <div class="contenedor-img">
                                <a href="/Usuario/VerPerfil/@item.Id">
                                    <img class="" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.Id })" alt="plomero" width="100%"/>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4>
                                    <a href="/Usuario/VerPerfil/@item.Id">
                                        @item.Nombre @item.Apellido
                                    </a>
                                </h4>
                                @foreach (var item2 in ViewBag.PublicacionesUsuariosCercanos)
                                {
                                    if (item2.Usuario.Id == item.Id)
                                    {
                                        
                                    <span>
                                        @if (item2.SubRubro != null)
                                        {                                        
                                            
                                            <strong>Service @item2.SubRubro.Nombre</strong>
                                            }
                                        else
                                        {
                                            <strong>@item2.Rubro.Nombre</strong>
                                        }
                                        
                                        @if (item2.Puntaje.Count != 0)
                                        {                                        
                                             foreach (var punt in item2.Puntaje)
                                {
                                        <span class="badge">@punt.Total</span>
                                                 }
                                        }
                                        else
                                        {
                                        <span class="badge">0</span>
                                        }

                                        <br />
                                    </span>
                                    }
                                }
                                <br />
                            </div>
                        </div>
                    </div>
                }
            </div>
                if (ViewBag.UsuariosMasCercanosMas.Count > 4)
                {
            <center>
                <a href="@Url.Action("VerMasPrestadoresZona", "Publicacion")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-right"></span>Ver mas prestadores de mi
                    zona</a>
            </center>
                }
            <br />
        }
        else
        {
            <div class="mensaje-sin-registros text-center">
                <div class="text-muted">
                    Hoy no hay prestadores de tu zona.</div>
            </div>
        }
    </div>
</div>
