@model Providere.Models.Calificacion
@{
    ViewBag.Title = "Calificar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 well">
    <h2>
        Calificar Usuario</h2>
    @using (Html.BeginForm("CalificarUsuario", "Calificacion", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
       
        if (ViewBag.IdTipoCalificacion == 1)
        { 
        <legend>Califique al usuario @ViewBag.Contratacion.Publicacion.Usuario.Nombre @ViewBag.Contratacion.Publicacion.Usuario.Apellido
            @ViewBag.Texto <a href="/Publicacion/VisualizarPublicacion/@ViewBag.Contratacion.Publicacion.Id">@ViewBag.Contratacion.Publicacion.Titulo</a>
        </legend>
        }
        else
        { 
        <legend>Califique al usuario @ViewBag.Contratacion.Usuario.Nombre @ViewBag.Contratacion.Usuario.Apellido
            @ViewBag.Texto <a href="/Publicacion/VisualizarPublicacion/@ViewBag.Contratacion.Publicacion.Id">@ViewBag.Contratacion.Publicacion.Titulo</a>
        </legend>
        }
        
        <div id="page-wrapper">
            @Html.Hidden("idContratacion", "ViewBag.IdContratacion.Id")
            @Html.Hidden("idTipoCalificacion", "ViewBag.IdTipoCalificacion")
            <center>
                <div class="row">
                    <div class="col-sm-4 editor-field">
                        @Html.RadioButtonFor(model => model.IdTipoEvaluacion, 1) <span class="text-success">
                            <i class="glyphicon glyphicon-plus-sign"></i></span>@Html.DisplayName("Positivo")
                    </div>
                    <div class="col-sm-4 editor-field">
                        @Html.RadioButtonFor(model => model.IdTipoEvaluacion, 2) <span class="text-primary">
                            <i class="glyphicon glyphicon-record"></i></span>@Html.DisplayName("Neutro")
                    </div>
                    <div class="col-sm-4 editor-field">
                        @Html.RadioButtonFor(model => model.IdTipoEvaluacion, 3) <span class="text-warning">
                            <i class="glyphicon glyphicon-minus-sign"></i></span>@Html.DisplayName("Negativo")
                    </div>
                </div>
            </center>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.DisplayName("Comentario")
                </div>
                <div class="col-sm-4 editor-field">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", maxlength = "140" })
                    <p class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>M&aacute;ximo 140 caracteres</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-xs-offset-4 col-sm-offset-5">
                    <button type="submit" id="btnGuardar" class="btn btn-info btn-sm">
                        Calificar</button>
                    @Html.ActionLink("Cancelar", "Index", "Contratacion", null, new { @class = "btn btn-warning btn-sm" })
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.IdTipoEvaluacion, "Debe seleccionar un tipo de calificacion")
            <br />
            @Html.ValidationMessageFor(model => model.Descripcion, "Debe ingresar un comentario")
        </div>
    
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
