@model IEnumerable<Providere.Models.Calificacion>
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Exito != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Exito
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
<div class="col-md-12 well">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#obtenidas" role="tab" data-toggle="tab">
            Obtenidas</a></li>
        <li role="presentation"><a href="#otorgadas" role="tab" data-toggle="tab">Otorgadas</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="obtenidas">
            <h2>
                Calificaciones obtenidas</h2>
            <div class="row">
                @if (ViewBag.ObtenidasLimite.Count > 0)
                {
                    foreach (var item in ViewBag.ObtenidasLimite)
                    {
                        if (item.IdTipoCalificacion == 1)
                        {
                    <div class="col-md-12">
                        <br />
                        <div>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <strong><a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                            </strong>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion
                                </em>                                
                                if (item.FlagReplicado == 1)
                                {
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (rep.IdCalificacion == item.Id)
                                        {
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em></span>
                                </dd>
                                        }
                                    }
                                }
                                else
                                { 
                                <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                </a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                }
                            }
                            @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 0) //Neutro
                            {                                
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>                                                           
                                if (item.FlagReplicado == 1)
                                {
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (rep.IdCalificacion == item.Id)
                                        {                                
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd> 
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>                              
                                        }
                                    }
                                }
                                else
                                {   
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>
                                <span class="text-info">|</span>
                                <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                </a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                }
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 2)
                                {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>
                                }
                            }
                            @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 0) //Negativo
                            {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>                            
                                if (item.FlagReplicado == 1)
                                {
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (rep.IdCalificacion == item.Id)
                                        {
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>

                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd> 
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                                else
                                {   
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>
                                <span class="text-info">|</span>
                                <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                </a> 
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                }
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 3)
                                {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>
                                }
                            }
                            <br />
                        </div>
                    </div> 
                        }
                        else
                        {
                    <div class="col-md-12">
                        <div>
                            <br />
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <strong><a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                                <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                            </strong>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion
                                </em>
                                if (item.FlagReplicado == 1)
                                {
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (rep.IdCalificacion == item.Id)
                                        {
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                                else
                                {   
                                <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                </a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd> 
                                }
                            }
                            @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 0) //Neutro
                            {                                                          
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>                             
                                if (item.FlagReplicado == 1)
                                {
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (rep.IdCalificacion == item.Id)
                                        {
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                                else
                                {  
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a> 
                                <span class="text-info">|</span>
                                <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                </a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                }
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 2)
                                {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>
                                }
                            }
                            @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 0) //Negativo
                            {                              
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>                              
                                if (item.FlagReplicado == 1)
                                {
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (rep.IdCalificacion == item.Id)
                                        {
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd> 
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                                else
                                {   
                                <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                    Denunciar</a>
                                <span class="text-info">|</span>
                                <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                </a> 
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd> 
                                }
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 3)
                                {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>
                                }
                            }
                            <br />
                        </div>
                    </div> 
                        }
                    }
                }
                else
                {
                    <div class="col-md-12">
                        No hay calificaciones para mostrar</div>
                }
                @if (ViewBag.ObtenidasTodas.Count > 4)
                {
                    <!-- Button trigger modal -->
                    <center>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
                            Ver mas calificaciones
                        </button>
                    </center>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Calificaciones obtenidas</h4>
                                </div>
                                <div class="modal-body">
                                    @if (ViewBag.ObtenidasTodas.Count > 0)
                                    {
                                        foreach (var item in ViewBag.ObtenidasTodas)
                                        {
                                            if (item.IdTipoCalificacion == 1)
                                            {
                                        <div class="row">
                                            <div>
                                                <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                <strong><a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                                    <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                                    </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                                                </strong>
                                            </div>
                                            <div>
                                                @if (item.IdTipoEvaluacion == 1) //Positiva
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion
                                                    </em>
                                                    if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {   
                                                    <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                                    </a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 0) //Neutro
                                                {                                                
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>                               
                                                    if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>  
                                                    
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {   
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <span class="text-info">|</span>
                                                    <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                                    </a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>    
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 2)
                                                    {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 0) //Negativo
                                                {                                                    
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>                                            
                                                    if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {  
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a> 
                                                    <span class="text-info">|</span>
                                                    <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                                    </a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 3)
                                                    {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </div> 
                                            }
                                            else
                                            {
                                        <div class="row">
                                            <div>
                                                <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                <strong><a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                                                    <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                                    </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                                                </strong>
                                            </div>
                                            <div>
                                                @if (item.IdTipoEvaluacion == 1) //Positiva
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion
                                                    </em>
                                                    if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {   
                                                    <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                                    </a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>  
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 0) //Neutro
                                                {
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>
                                                    if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {   
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <span class="text-info">|</span>
                                                    <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                                    </a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd> 
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 2)
                                                    {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 0) //Negativo
                                                {                                                  
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>
                                                    if (item.FlagReplicado == 1)
                                                    {
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (rep.IdCalificacion == item.Id)
                                                            {
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                   
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {   
                                                    <a  href="@Url.Action("DenunciarComentario", "Calificacion", new { id = item.Id })">
                                                        Denunciar</a>
                                                    <span class="text-info">|</span>
                                                    <a  href="@Url.Action("ReplicarComentario", "Calificacion", new { id = item.Id })">Replicar
                                                    </a>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd> 
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 3)
                                                    {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </div>                       
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="otorgadas">
            <h2>
                Calificaciones otorgadas</h2>
            <div class="row">
                @if (ViewBag.OtorgadasLimite.Count > 0)
                {
                    foreach (var item in ViewBag.OtorgadasLimite)
                    {
                        if (item.IdTipoCalificacion == 1)
                        { 
                    <div class="col-md-12">
                        <div>
                            <br />
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <strong><a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                            </strong>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion</em>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>                               
                                foreach (var rep in ViewBag.Replicas)
                                {
                                    if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                    {
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                    }
                                }
                            }
                            @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 1) //Neutro
                            {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 2)
                                {
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>
                                <dd class="col-sm-offset-2">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                              
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                        {
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                            }
                            @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 1) //Negativo
                            {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 3)
                                {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                                
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                        {
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                            }
                            <br />
                        </div>
                    </div>
                        }
                        else
                        {
                    <div class="col-md-12">
                        <div>
                            <br />
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <strong><a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                                <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                            </strong>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion</em>
                                <dd class="col-sm-offset-2">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                               
                                foreach (var rep in ViewBag.Replicas)
                                {
                                    if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                    {
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                    }
                                }
                            }
                            @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 1) //Neutro
                            {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                    </div>
                                </div>                             
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 2)
                                {
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                               
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                        {
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                            }
                            @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 1) //Negativo
                            {
                                <div class="col-md-5">
                                    <br />
                                    <div class="alert alert-danger alert-dismissable">
                                        <span class="glyphicon glyphicon-warning-sign">@ViewBag.Texto</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 3)
                                {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>
                                <dd class="col-sm-offset-12">
                                    <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                </dd>
                               
                                    foreach (var rep in ViewBag.Replicas)
                                    {
                                        if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                        {
                                <dd class="col-sm-offset-12">
                                    <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                        <em>@rep.Comentario</em> </span>
                                </dd>
                                        }
                                    }
                                }
                            }
                            <br />
                        </div>
                    </div>     
                        }
                    }
                }
                else
                {
                    <div class="col-md-12">
                        No hay calificaciones para mostrar</div>
                }
                @if (ViewBag.OtorgadasTodas.Count > 4)
                {
                    <!-- Button trigger modal -->
                    <center>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal2">
                            Ver mas calificaciones
                        </button>
                    </center>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel2">
                                        Calificaciones Otorgadas</h4>
                                </div>
                                <div class="modal-body">
                                    @if (ViewBag.OtorgadasTodas.Count > 0)
                                    {
                                        foreach (var item in ViewBag.OtorgadasTodas)
                                        {
                                            if (item.IdTipoCalificacion == 1)
                                            {
                                        <div class="row">
                                            <div>
                                                <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                <strong><a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                                    <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i>
                                                    </span><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                                                </strong>
                                            </div>
                                            <div>
                                                @if (item.IdTipoEvaluacion == 1) //Positiva
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion
                                                    </em>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                                                                 
                                                    foreach (var rep in ViewBag.Replicas)
                                                    {
                                                        if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                                        {
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                        }
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 1) //Neutro
                                                {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 2)
                                                    {
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                   
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                                            {
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 1) //Negativo
                                                {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 3)
                                                    {
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                                                                  
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                                            {
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div> 
                                            }
                                            else
                                            {
                                        <div class="row">
                                            <div>
                                                <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                <strong>
                                                <a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                                                <span class="text-primary"><i class="glyphicon glyphicon glyphicon-transfer"></i></span>
                                                 <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a>
                                                 </strong>
                                            </div>
                                            <div>
                                                @if (item.IdTipoEvaluacion == 1) //Positiva
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span> <em>@item.Descripcion
                                                    </em>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    
                                                    foreach (var rep in ViewBag.Replicas)
                                                    {
                                                        if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                                        {
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                        }
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 2 && item.FlagDenunciado == 1) //Neutro
                                                {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 2)
                                                    {
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span> <em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                    
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                                            {
                                                    <dd class="col-sm-offset-14">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                }
                                                @if (item.IdTipoEvaluacion == 3 && item.FlagDenunciado == 1) //Negativo
                                                {
                                                    <div class="col-md-10">
                                                        <br />
                                                        <div class="alert alert-danger alert-dismissable">
                                                            <span class="glyphicon glyphicon-warning-sign"></span><span>@ViewBag.Texto</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.IdTipoEvaluacion == 3)
                                                    {
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span> <em>@item.Descripcion</em>
                                                    <dd class="col-sm-offset-14">
                                                        <small><span class="help-block">@item.FechaCalificacion.ToString("dd/MM/yyyy hh:mm tt")</span></small>
                                                    </dd>
                                                        foreach (var rep in ViewBag.Replicas)
                                                        {
                                                            if (item.FlagReplicado == 1 && rep.IdCalificacion == item.Id)
                                                            {
                                                    <dd class="col-sm-offset-12">
                                                        <span class="label label-default"><i class="glyphicon glyphicon-chevron-right"></i>Réplica:
                                                            <em>@rep.Comentario</em> </span>
                                                    </dd>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>                       
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
