@model IEnumerable<Providere.Models.Calificacion>
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container well">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#obtenidas" role="tab" data-toggle="tab">
            Obtenidas</a></li>
        <li role="presentation"><a href="#otorgadas" role="tab" data-toggle="tab">Otorgadas</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="obtenidas">
            <h2>
                Calificaciones obtenidas</h2>
            <div class="row">
                @if (ViewBag.Obtenidas.Count > 0)
                {
                    foreach (var item in ViewBag.Obtenidas)
                    {
                        if (item.IdTipoCalificacion == 1)
                        {
                    <div class="col-md-12">
                        <div>
                            <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                <em>@item.Descripcion </em>
                                <span class="help-block">@item.FechaCalificacion</span>
                            }
                            @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                            {
                                if (item.IdTipoEvaluacion == 2 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Neutro
                                {
                               
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                <em>@item.Descripcion</em>
                                
                                <input type="submit" id="btnDenunciarNeutro1" value="Denunciar" class="btn btn-link" />
                                <span class="help-block">@item.FechaCalificacion</span>   
                                
                                }
                                else
                                {
                                    if (item.IdTipoEvaluacion == 2)
                                    {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                    }
                                }
                            }
                            @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                            {
                                if (item.IdTipoEvaluacion == 3 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Negativo
                                {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                <em>@item.Descripcion</em>
                               
                                <input type="submit" id="btnDenunciarNegativo1" value="Denunciar" class="btn btn-link" />   
                                
                                <span class="help-block">@item.FechaCalificacion</span>  
                                }
                                else
                                {
                                    if (item.IdTipoEvaluacion == 3)
                                    {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                    }
                                }
                            }
                            <br />
                        </div>
                    </div> 
                        }
                        else
                        {
                    <div class="col-md-12">
                        <div>
                            <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                <em>@item.Descripcion </em>
                                <span class="help-block">@item.FechaCalificacion</span>
                            }
                            @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                            {
                                if (item.IdTipoEvaluacion == 2 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Neutro
                                {
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                <em>@item.Descripcion</em>
                                
                                <input type="submit" id="btnDenunciarNeutro2" value="Denunciar" class="btn btn-link" />   
                                
                                <span class="help-block">@item.FechaCalificacion</span>
                                }

                                else
                                {
                                    if (item.IdTipoEvaluacion == 2)
                                    {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                    }
                                }
                            }
                            @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                            {
                                if (item.IdTipoEvaluacion == 3 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Negativo
                                {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                <em>@item.Descripcion</em>
                               
                                <input type="submit" id="btnDenunciarNegativo2" value="Denunciar" class="btn btn-link" />   
                                <span class="help-block">@item.FechaCalificacion</span>  
                                }

                                else
                                {
                                    if (item.IdTipoEvaluacion == 3)
                                    {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                    }
                                }
                            }
                            <br />
                        </div>
                    </div> 
                        }
                    }
                }
                else
                {
                    <div class="col-md-12">
                        No hay calificaciones para mostrar</div>
                }
                @if (ViewBag.ObtenidasTodas.Count > 4)
                {
                    <!-- Button trigger modal -->
                    <center>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
                            Ver mas calificaciones
                        </button>
                    </center>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Calificaciones obtenidas</h4>
                                </div>
                                <div class="modal-body">
                                    @if (ViewBag.ObtenidasTodas.Count > 0)
                                    {
                                        foreach (var item in ViewBag.ObtenidasTodas)
                                        {
                                            if (item.IdTipoCalificacion == 1)
                                            {
                                        <div class="row">
                                            <div>
                                                <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                                                <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                            </div>
                                            <div>
                                                @if (item.IdTipoEvaluacion == 1) //Positiva
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                                    <em>@item.Descripcion </em>
                                                    <span class="help-block">@item.FechaCalificacion</span>
                                                }
                                                @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                                                {
                                                    if (item.IdTipoEvaluacion == 2 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Neutro
                                                    {
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                                    <em>@item.Descripcion</em>
                                                    
                                                    <input type="submit" id="btnDenunciarNeutro3" value="Denunciar" class="btn btn-link" />   
                                                    
                                                    <span class="help-block">@item.FechaCalificacion</span>
                                                    }
                                                    else
                                                    {
                                                        if (item.IdTipoEvaluacion == 2)
                                                        {
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                            denunciado por ser ofensivo hacia terceros</span>
                                                    </div>
                                                        }
                                                    }
                                                }
                                                @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                                                {
                                                    if (item.IdTipoEvaluacion == 3 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Negativo
                                                    {
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                    <em>@item.Descripcion</em>
                                                   
                                                    <input type="submit" id="btnDenunciarNegativo3" value="Denunciar" class="btn btn-link" />   
                                                    
                                                    <span class="help-block">@item.FechaCalificacion</span>  
                                                    }
                                                    else
                                                    {
                                                        if (item.IdTipoEvaluacion == 3)
                                                        {
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                            denunciado por ser ofensivo hacia terceros</span>
                                                    </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div> 
                                            }
                                            else
                                            {
                                        <div class="row">
                                            <div>
                                                <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                                                <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                                <a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                                            </div>
                                            <div>
                                                @if (item.IdTipoEvaluacion == 1) //Positiva
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                                    <em>@item.Descripcion </em>
                                                    <span class="help-block">@item.FechaCalificacion</span>
                                                }
                                                @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                                                {
                                                    if (item.IdTipoEvaluacion == 2 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Neutro
                                                    {
                                                    <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                                    <em>@item.Descripcion</em>
                                                    
                                                    <input type="submit" id="btnDenunciarNeutro4" value="Denunciar" class="btn btn-link" />   
                                                    
                                                    <span class="help-block">@item.FechaCalificacion</span>
                                                    }
                                                    else
                                                    {
                                                        if (item.IdTipoEvaluacion == 2)
                                                        {
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                            denunciado por ser ofensivo hacia terceros</span>
                                                    </div>
                                                        }
                                                    }
                                                }
                                                @using (Html.BeginForm("DenunciarComentario", "Calificacion", new { Id = item.Id }, FormMethod.Post))
                                                {
                                                    if (item.IdTipoEvaluacion == 3 && ViewBag.ComentarioNoDenunciado == "Comentario no denunciado") //Negativo
                                                    {
                                                    <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                    <em>@item.Descripcion</em>
                                                    
                                                    <input type="submit" id="btnDenunciarNegativo4" value="Denunciar" class="btn btn-link" />   
                                                    
                                                    <span class="help-block">@item.FechaCalificacion</span>  
                                                    }
                                                    else
                                                    {
                                                        if (item.IdTipoEvaluacion == 3)
                                                        {
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                            denunciado por ser ofensivo hacia terceros</span>
                                                    </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>                       
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="otorgadas">
            <h2>
                Calificaciones otorgadas</h2>
            <div class="row">
                @if (ViewBag.Otorgadas.Count > 0)
                {
                    foreach (var item in ViewBag.Otorgadas)
                    {

                        if (item.IdTipoCalificacion == 1)
                        {
                    <div class="col-md-12">
                        <div>
                            <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                <em>@item.Descripcion</em>
                                <span class="help-block">@item.FechaCalificacion</span>
                            }
                            @if (item.IdTipoEvaluacion == 2 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Neutro
                            {
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                <em>@item.Descripcion</em>
                                <span class="help-block">@item.FechaCalificacion</span>
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 2)
                                {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                }
                            }
                            @if (item.IdTipoEvaluacion == 3 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Negativo
                            {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                <em>@item.Descripcion</em>
                                <span class="help-block">@item.FechaCalificacion</span>  
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 3)
                                {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                }
                            }
                            <br />
                        </div>
                    </div>
                        }
                        else
                        {
                    <div class="col-md-12">
                        <div>
                            <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                            <a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                        </div>
                        <div>
                            @if (item.IdTipoEvaluacion == 1) //Positiva
                            {
                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                <em>@item.Descripcion</em>
                                <span class="help-block">@item.FechaCalificacion</span>
                            }
                            @if (item.IdTipoEvaluacion == 2 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Neutro
                            {
                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                <em>@item.Descripcion</em>
                                <span class="help-block">@item.FechaCalificacion</span>
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 2)
                                {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                }
                            }
                            @if (item.IdTipoEvaluacion == 3 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Negativo
                            {
                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                <em>@item.Descripcion</em>
                                <span class="help-block">@item.FechaCalificacion</span>  
                            }
                            else
                            {
                                if (item.IdTipoEvaluacion == 3)
                                {
                                <div class="alert alert-danger alert-dismissable">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                        denunciado por ser ofensivo hacia terceros</span>
                                </div>
                                }
                            }
                            <br />
                        </div>
                    </div>     
                        }
                    }
                }
                else
                {
                    <div class="col-md-12">
                        No hay calificaciones para mostrar</div>
                }
                @if (ViewBag.OtorgadasTodas.Count > 4) {
                <!-- Button trigger modal -->
                <center>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal2">
                        Ver mas calificaciones
                    </button>
                </center>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Calificaciones Otorgadas</h4>
                            </div>
                            <div class="modal-body">
                                @if (ViewBag.OtorgadasTodas.Count > 0)
                                {
                                    foreach (var item in ViewBag.OtorgadasTodas)
                                    {
                                        if (item.IdTipoCalificacion == 1)
                                        {
                                    <div class="row">
                                        <div>
                                            <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                            <a href="#">@item.Contratacion.Usuario.Nombre @item.Contratacion.Usuario.Apellido</a>
                                        </div>
                                        <div>
                                            @if (item.IdTipoEvaluacion == 1) //Positiva
                                            {
                                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                                <em>@item.Descripcion </em>
                                                <span class="help-block">@item.FechaCalificacion</span>
                                            }
                                            @if (item.IdTipoEvaluacion == 2 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Neutro
                                            {
                                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                                <em>@item.Descripcion</em>
                                                <span class="help-block">@item.FechaCalificacion</span>
                                            }
                                            else
                                            {
                                                if (item.IdTipoEvaluacion == 2)
                                                {
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                        denunciado por ser ofensivo hacia terceros</span>
                                                </div>
                                                }
                                            }
                                            @if (item.IdTipoEvaluacion == 3 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Negativo
                                            {
                                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                <em>@item.Descripcion</em>
                                                <span class="help-block">@item.FechaCalificacion</span>  
                                            }
                                            else
                                            {
                                                if (item.IdTipoEvaluacion == 3)
                                                {
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                        denunciado por ser ofensivo hacia terceros</span>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </div> 
                                        }
                                        else
                                        {
                                    <div class="row">
                                        <div>
                                            <legend><a href="/Publicacion/VisualizarPublicacion/@item.Contratacion.IdPublicacion">@item.Contratacion.Publicacion.Titulo</a></legend>
                                            <img class="img-thumbnail" src="@Url.Action("MostrarFotoPerfil", "Publicacion", new { id = @item.IdCalificador })" alt="avatar" width="40px"/>
                                            <a href="#">@item.Contratacion.Publicacion.Usuario.Nombre @item.Contratacion.Publicacion.Usuario.Apellido</a>
                                        </div>
                                        <div>
                                            @if (item.IdTipoEvaluacion == 1) //Positiva
                                            {
                                                <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                                <em>@item.Descripcion </em>
                                                <span class="help-block">@item.FechaCalificacion</span>
                                            }
                                            @if (item.IdTipoEvaluacion == 2 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Neutro
                                            {
                                                <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                                <em>@item.Descripcion</em>
                                                <span class="help-block">@item.FechaCalificacion</span>
                                            }
                                            else
                                            {
                                                if (item.IdTipoEvaluacion == 2)
                                                {
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                        denunciado por ser ofensivo hacia terceros</span>
                                                </div>
                                                }
                                            }
                                            @if (item.IdTipoEvaluacion == 3 && ViewBag.ComentariosDenunciados == "Comentario no Denunciado") //Negativo
                                            {
                                                <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                <em>@item.Descripcion</em>
                                                <span class="help-block">@item.FechaCalificacion</span>  
                                            }
                                            else
                                            {
                                                if (item.IdTipoEvaluacion == 3)
                                                {
                                                <div class="alert alert-danger alert-dismissable">
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span>Comentario
                                                        denunciado por ser ofensivo hacia terceros</span>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </div>                       
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                } 
            </div>
        </div>
    </div>
</div>
