@model IEnumerable<Providere.Models.Contratacion>
@{
    ViewBag.Title = "Contratacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Exito != null)
{
   <div class="alert alert-success alert-dismissable">
       <button type="button" class="close" data-dismiss="alert">
           &times;</button>
       @ViewBag.Exito
   </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
<div class="col-md-12 well">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#contrate" role="tab" data-toggle="tab">
            Contraté</a></li>
        <li role="presentation"><a href="#meContrataron" role="tab" data-toggle="tab">Me contrataron</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="contrate">
            <h2>
                Servicios que contraté</h2>
           <br />
            <div class="col-md-12">
                <table class="tabla-contrataciones table table-bordered table-hover">
                    <thead>
                        <tr class="default">
                            <th>
                                @Html.DisplayName("Título de la publicación")
                            </th>
                            <th>
                                @Html.DisplayName("Nombre")
                            </th>
                            <th>
                                @Html.DisplayName("Apellido")
                            </th>
                            <th>
                                @Html.DisplayName("Teléfono")
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ContratacionesRealizadas)
                        {
                            <tr>
                                <td>
                                  <a href="/Publicacion/VisualizarPublicacion/@item.Publicacion.Id">@item.Publicacion.Titulo</a>
                                </td>
                                <td>
                                   @item.Publicacion.Usuario.Nombre
                                </td>
                                <td>
                                    @item.Publicacion.Usuario.Apellido
                                </td>
                                <td>
                                    @item.Publicacion.Usuario.Telefono
                                </td>
                                <td>
                                    @if (item.FlagCalificoCliente == 0)
                                    { 
                                        @Html.ActionLink("Calificar usuario", "CalificarUsuario", "Calificacion", new { idContratacion = item.Id, idTipoCalificacion = 1 }, null)
                                    }
                                    else
                                    {

                                        foreach (var item2 in ViewBag.calificacionesAprestador)
                                        {
                                            if (item2.IdContratacion == item.Id)
                                            {
                                                
                                               @* @item2.IdCalificado  @item2.Contratacion.Publicacion.Usuario.Nombre  @item2.Contratacion.Publicacion.Usuario.Apellido
                                                        <br/>
                                                         @item2.IdCalificador  @item2.Contratacion.Usuario.Nombre @item2.Contratacion.Usuario.Apellido
                                                        <br/>
                                                         @item2.Descripcion
                                                        <br/>
                                                        @item2.IdContratacion
                                                        <br/>
                                                        @item2.IdTipoEvaluacion
                                                        <br/> *@
                                        
                                                if (item2.IdTipoEvaluacion == 1)
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                                    @item2.Descripcion
                                                }
                                                else
                                                {
                                                    if (item2.IdTipoEvaluacion == 2)
                                                    {
                                                        <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                                        @item2.Descripcion
                                                    }
                                                    else
                                                    {
                                                        <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                        @item2.Descripcion 
                                                    }
                                                }
                                                
                                                
                                               @* <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                 Ver Calificaci&oacute;n
                                                </button>
      
                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Calificaci&oacute;n otorgada</h4>
                                                      </div>
                                                      <div class="modal-body">
                                                
                                                        idCalificado: @item2.IdCalificado , @item2.Contratacion.Publicacion.Usuario.Nombre , @item2.Contratacion.Publicacion.Usuario.Apellido
                                                        <br/>
                                                        idCalificador es el logueado: @item2.IdCalificador , @item2.Contratacion.Usuario.Nombre, @item2.Contratacion.Usuario.Apellido
                                                        <br/>
                                                        Comentario: @item2.Descripcion
                                                        <br/>
                                                        idContratacion: @item2.IdContratacion
                                                        <br/>
                                                        ID TIPO EVALUACION: @item2.IdTipoEvaluacion

                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div> *@
                                            }

                                        }

                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="meContrataron">
            <h2>
                Servicios por los que me contrataron</h2>
           <br />
            <div class="col-md-12">
                <table class="tabla-contrataciones table table-bordered table-hover">
                    <thead>
                        <tr class="default">
                            <th>
                                @Html.DisplayName("Título de la publicación")
                            </th>
                            <th>
                                @Html.DisplayName("Nombre")
                            </th>
                            <th>
                                @Html.DisplayName("Apellido")
                            </th>
                            <th>
                                @Html.DisplayName("Teléfono")
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                     <tbody>
                       @foreach (var item in ViewBag.QuienesMeContrataron)
                       {
                            <tr>
                                <td>
                                  <a href="/Publicacion/VisualizarPublicacion/@item.Publicacion.Id">@item.Publicacion.Titulo</a>
                                </td>
                                <td>
                                    @item.Usuario.Nombre
                                </td>
                                <td>
                                    @item.Usuario.Apellido
                                </td>
                                <td>
                                    @item.Usuario.Telefono
                                </td>
                                <td>
                                    @if (item.FlagCalificoProveedor == 0)
                                    { 
                                        @Html.ActionLink("Calificar usuario", "CalificarUsuario", "Calificacion", new { idContratacion = item.Id, idTipoCalificacion = 2 }, null)
                                    }
                                    else
                                    {
                                        foreach (var item2 in ViewBag.calificacionesACliente)
                                        {
                                            if (item2.IdContratacion == item.Id)
                                            {                                    
                                                if (item2.IdTipoEvaluacion == 1)
                                                {
                                                    <span class="text-success"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                                    @item2.Descripcion
                                                }
                                                else
                                                {
                                                    if (item2.IdTipoEvaluacion == 2)
                                                    {
                                                        <span class="text-primary"><i class="glyphicon glyphicon-record"></i></span>
                                                        @item2.Descripcion
                                                    }
                                                    else
                                                    {
                                                        <span class="text-warning"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                        @item2.Descripcion 
                                                    }
                                                }
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                       }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
