@model IEnumerable<Providere.Models.Contratacion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container well">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#contrate" role="tab" data-toggle="tab">
            Contraté</a></li>
        <li role="presentation"><a href="#meContrataron" role="tab" data-toggle="tab">Me contrataron</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="contrate">
            <h2>
                Servicios que contraté</h2>
            <hr />
            <div class="col-md-12">
                <table class="tabla-publicaciones table table-bordered table-hover">
                    <thead>
                        <tr class="btn-warning">
                            <th>
                                @Html.DisplayName("Titulo de la publicacion")
                            </th>
                            <th>
                                @Html.DisplayName("Nombre")
                            </th>
                            <th>
                                @Html.DisplayName("Apellido")
                            </th>
                            <th>
                                @Html.DisplayName("Telefono")
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                  <a href="/Publicacion/VisualizarPublicacion/@item.Publicacion.Id">@item.Publicacion.Titulo</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publicacion.Usuario.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publicacion.Usuario.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publicacion.Usuario.Telefono)
                                </td>
                                <td>
                                    @Html.ActionLink("Calificar servicio", "CalificarUsuario", "Calificacion", new { idContratacion = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="meContrataron">
            <h2>
                Servicios por lo que me contrataron</h2>
            <hr />
            <div class="col-md-12">
                <table class="tabla-publicaciones table table-bordered table-hover">
                    <thead>
                        <tr class="btn-warning">
                            <th>
                                @Html.DisplayName("Titulo de la publicacion")
                            </th>
                            <th>
                                @Html.DisplayName("Nombre")
                            </th>
                            <th>
                                @Html.DisplayName("Apellido")
                            </th>
                            <th>
                                @Html.DisplayName("Telefono")
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>
